.App__section {
  max-width: 1024px;
  margin: 2rem auto;
  text-align: left;
}

.item--icon {
  position: relative;
  list-style: none;
  margin: 5px 0;
}

.icon {
  position: absolute;
  font-size: 1.3rem;
  transform: translate(-120%, -40%);
  top: 50%;
  left: 0;
  line-height: 1;
}

.text {
  margin: 1rem;
}

.emal {
  text-align: center;
}

.App__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8rem;
  text-align: center;
}
